@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@property --gradient-angle-offset {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@property --gradient-percent {
  syntax: "<percentage>";
  initial-value: 20%;
  inherits: false;
}

@property --gradient-shine {
  syntax: "<color>";
  initial-value: #fb923c;
  inherits: false;
}

.shiny-cta {
  --gradient-angle: 0deg;
  --gradient-angle-offset: 0deg;
  --gradient-percent: 20%;
  --gradient-shine: #fb923c;
  --shadow-size: 2px;
  position: relative;
  overflow: hidden;
  border-radius: 9999px;
  padding: 1.25rem 2.5rem;
  font-size: 1.125rem;
  font-weight: 500;
  color: #fff;
  background: linear-gradient(#030712,#030712) padding-box,
    conic-gradient(
      from calc(var(--gradient-angle) - var(--gradient-angle-offset)),
      transparent 0%,
      #fb923c 12%,
      var(--gradient-shine) 20%,
      #fb923c 32%,
      transparent 45%,
      transparent 100%
    ) border-box;
  border: 1px solid transparent;
  box-shadow: inset 0 0 0 1px #0f0f0f;
  cursor: pointer;
  isolation: isolate;
  font-family: 'Inter', sans-serif;
  animation: border-spin 2.5s linear infinite;
}

@keyframes border-spin {
  to {
    --gradient-angle: 360deg;
  }
}

.shiny-cta:active {
  transform: translateY(1px);
}

.shiny-cta::before {
  content: '';
  pointer-events: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  --size: calc(100% - 6px);
  width: var(--size);
  height: var(--size);
  background: radial-gradient(circle at 2px 2px, #fb923c 1px, transparent 0)
    padding-box;
  background-size: 4px 4px;
  background-repeat: space;
  mask-image: conic-gradient(from calc(var(--gradient-angle) + 45deg),
    black, transparent 10% 90%, black);
  border-radius: inherit;
  opacity: 0.35;
}

.shiny-cta::after {
  content: '';
  pointer-events: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  aspect-ratio: 1;
  background: linear-gradient(-50deg, transparent, #fb923c, transparent);
  mask-image: radial-gradient(circle at bottom, transparent 40%, black);
  opacity: 0.6;
  animation: shimmer 4s linear infinite;
}

@keyframes shimmer {
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.shiny-cta span {
  position: relative;
  z-index: 2;
  display: inline-block;
}

.shiny-cta span::before {
  content: '';
  pointer-events: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  --size: calc(100% + 1rem);
  width: var(--size);
  height: var(--size);
  box-shadow: inset 0 -1ex 2rem 4px #fb923c;
  opacity: 0;
  border-radius: inherit;
  transition: opacity .8s cubic-bezier(.25,1,.5,1);
  animation: breathe 4.5s linear infinite;
}

@keyframes breathe {
  0%,100% { transform: translate(-50%, -50%) scale(1); }
  50% { transform: translate(-50%, -50%) scale(1.20); }
}